.TimeResult {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
}

.TimeResult_section {
  width: fit-content;
  letter-spacing: 0.04rem;
  &:first-child {
    text-align: right;
  }
  &:last-child {
    text-align: left;
  }
}

.TimeRresult_divider {
  text-align: center;
}
