.home-icon-link {
  aspect-ratio: 3 / 2;
  background: rgb(250, 250, 250);
  padding: 0.4rem 1rem;
  border-radius: 4px;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #fff;
    background: rgb(225, 225, 225);
  }
  &:active {
    border: 1px solid #fff;
    background: rgb(215, 215, 215);
  }
}
