@import "tailwindcss";

.results-page .Grid__inner {
  grid-auto-flow: row;

  & .CardLink * {
    font-size: 1.5rem;
    color: white;
  }
}

.results-page .page-heading {
  color: var(--purple);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: 1;
  font-weight: 600;
  text-align: center;
}

.result-card {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.result {
  transition: all 0.5s;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  z-index: 1;

  &::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: radial-gradient(rgba(59, 3, 91, 0.3), rgba(59, 3, 91, 0.0.05));
  }

  @apply text-white/90 tracking-wider;

  &:hover {
    filter: saturate(250%) contrast(250%) brightness(90%);

    .username {
      color: white;
    }
  }

  @media (max-width: 800px) {
    font-size: 0.9rem;
  }

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
}

.rank {
  font-weight: 800;
}

.username {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  font-weight: 700;
  opacity: 1;
  padding-bottom: 0.5rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  z-index: 300;

  @media (max-width: 800px) {
    font-weight: 600;
    padding-bottom: 0.3rem;
  }
}

.result-latest {
  @apply bg-radial from-purple-800/80 to-fuchsia-900/40 opacity-1;

  & * {
    opacity: 0.9;
  }

  &:hover {
    filter: saturate(140%) contrast(140%) brightness(90%);
  }
}

.seconds,
.rank {
  width: 100%;
  z-index: 100;
  height: fit-content;
  transition: all 0.5s;
  opacity: 0.6;
}

.result:hover {
  & .rank,
  & .seconds,
  & .username {
    opacity: 0.8;
  }

  & .username {
    color: white;
    opacity: 1;
  }
}