@import "tailwindcss";

.results-page .Grid__inner {
  grid-auto-flow: row;
}

.results-page .page-heading {
  color: var(--purple);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: 1;
  font-weight: 600;
  text-align: center;
}

.result {
  transition: all 0.3s;
  cursor: disabled;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  aspect-ratio: 3 / 2;
  position: relative;
  width: 100%;
  transition: all 2s;
  filter: grayscale(90%) opacity(0.38) !important;
  font-size: 1.2rem;
  @apply shadow-md bg-linear-120 from-purple-800/70 to-purple-700/90 text-violet-300;
  letter-spacing: 0.1rem;
  &:hover {
    @apply shadow-xl bg-linear-120 from-purple-600 to-purple-700/90 text-zinc-100;
    opacity: 1;
    filter: grayscale(100%) saturate(125%) opacity(1) !important;
    cursor: auto;
  }
}

.username {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  text-wrap: nowrap;
  z-index: 49;
  text-overflow: ellipsis;
  @apply text-violet-200;

  @media (max-width: 800px) {
    font-size: 1.1rem;
    font-weight: 500;
  }

  @media (max-width: 400px) {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.result-latest {
  transform: scale(0.98);
  filter: grayscale(0%) opacity(0.6) contrast(135%) !important;
  & .username {
    color: inherit;
  }
  &:hover {
    color: white;
  }
  &:hover * {
    filter: brightness(140%);
    opacity: 0.85;
  }
}

.seconds {
  font-weight: 900;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.4;
  z-index: 70;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transition: all 0.5s;
  @media (max-width: 800px) {
    font-size: 1.15rem;
  }
}
