@import "tailwindcss";

.results-page .Grid__inner {
  grid-auto-flow: row;
}

.results-page .page-heading {
  color: var(--purple);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: 1;
  font-weight: 600;
  text-align: center;
}

.result-card {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.result {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  width: 100%;
  transition: all 1s;
  justify-content: space-between;
  font-size: 1.1rem;
  white-space: nowrap;
  @apply shadow-md grayscale-10 bg-linear-120 from-neutral-700/80 to-neutral-600/80 text-white/80 tracking-widest;

  &:hover {
    @apply shadow-xl backdrop-brightness-50;
  }

  &:hover * {
    @apply brightness-140 opacity-85 text-zinc-50;
  }

  @media (max-width: 800px) {
    font-size: .9rem;
  }

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
}

.username {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;

  overflow: hidden;
  text-wrap: nowrap;
  z-index: 49;
  text-overflow: ellipsis;

  @media (max-width: 800px) {
    font-size: 1.1rem;
    font-weight: 500;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.result-latest {
  transform: scale(0.98);
  @apply bg-linear-120 from-purple-700/60 to-purple-500/90;
  &:hover * {
    filter: brightness(120%);
    opacity: 0.85;
  }
}

.seconds {
  font-weight: 900;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.4;
  z-index: 70;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transition: all 0.5s;
  @media (max-width: 800px) {
    font-size: 1.15rem;
  }
}
