.CardSymbol_wrapper {
  aspect-ratio: 480 / 640;
  height: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardSymbol_wrapper .diamond {
  margin: 0 1px;

  @media (max-width: 800px) {
    margin: 0 2px;
  }
}

.rect-purple,
.rect-red,
.rect-green {
  opacity: 0.75;
}

.rect-purple {
  fill: var(--purple_main);
}

.rect-green {
  fill: var(--green_main);
}

.rect-red {
  fill: var(--red_main);
}

.CardSymbol {
  height: 80%;
  overflow: visible;
  margin: 0;
  padding: 0 3px;
  stroke: var(--main);
  stroke-width: 10px;
  pointer-events: none;
  @media (max-width: 500px) {
    height: 85%;
  }
}

.full {
  fill: var(--light);
  stroke: var(--main);
  stroke-width: 14px;
}

.blank {
  fill: transparent;
  stroke-width: 16px;
  stroke: var(--main);
  @media screen and (max-width: 600px) {
    stroke-width: 18px;
  }
}

.gradient {
  stroke: var(--main);
  stroke-width: 14px;
}

.gradient.red {
  fill: url(#pattern-red);
}

.gradient.green {
  fill: url(#pattern-green);
}

.gradient.purple {
  fill: url(#pattern-purple);
}
