.page-cnt {
  --header-h: 3rem;
  --header-min-h: 10svh;
  background-color: hsl(240, 5%, 96%);
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: 1px solid hsl(268, 93%, 47%);
  width: 100%;
  height: 100svh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: hsla(240, 4%, 16%, 80%);
  & * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .top-cnt,
  & .bottom-cnt {
    height: var(--header-h);
    min-height: var(--header-min-h);
    background-color: hsla(240, 4%, 46%, 10%);
  }

  & .top-cnt {
    order: 1;
  }

  & .bottom-cnt {
    order: 3;
  }

  & .center-cnt {
    /* max-height: min(80svh, calc(100% - var(--header-h) * 2)); */
    width: 100%;
    display: flex;
    flex-grow: 1;
    order: 2;
    & .cards-cnt {
      display: flex;
      flex-grow: 1;
    }

    & .sidebar-cnt {
      background-color: hsl(240, 5%, 84%);
      display: none;
    }
  }
}

.btn-cnt {
  background-color: hsl(81, 88%, 64%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.new-card {
  aspect-ratio: 3 / 2;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;

  background-color: gray;
}
.page-cnt {
  --sidebar-w: 10rem;
  --sidebar-max-w: 25vw;

  @media (orientation: landscape) and (min-height: 501px) {
    & .center-cnt {
      max-height: 80svh;
      padding-top: 4.5rem;
      padding-bottom: 5rem;
      & .cards-cnt {
        height: calc(80svh - 10rem);
      }
    }
  }

  @media (orientation: landscape) and (max-height: 500px) {
    & .top-cnt,
    & .bottom-cnt {
      display: none;
    }
    & .center-cnt {
      height: 100%;
      & .cards-cnt {
        height: 100%;
      }
    }
    & .sidebar-cnt {
      display: flex;
      width: var(--sidebar-w);
      max-width: var(--sidebar-max-w);
      max-height: 100%;
    }
  }
}

.new-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(100% - 2rem);
  max-height: calc(100cqh - 4rem);
  gap: 6px;
  aspect-ratio: 9 / 8;
  @media (orientation: landscape) {
    gap: 10px;
    aspect-ratio: 2 / 1;
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    max-width: calc(100cqw - 4rem);
  }

  @media (orientation: landscape) {
    aspect-ratio: 2 / 1;
    background-color: blueviolet;
    @media (aspect-ratio > 2) {
      border: 4px solid orange !important;
      height: calc(100% - 4rem);
      width: auto;
    }

    @media (aspect-ratio <= 2) {
      border: 4px solid purple !important;
      width: auto;
      height: calc(100% - 4rem);
    }
  }
}

.center-cnt {
  display: flex;
  flex-grow: 1;
  container-name: hero-banner;
  container-type: inline-size;
  border: 5px solid blue;
}

/* @media (orientation: landscape) and (aspect-ratio < 2) {
  .new-grid {
    border: 4px solid yellow !important;
    width: calc(100% - 2rem);
    height: auto;
  }
}
 */

/* .new-grid {

    border: 5px solid red;
    background-color: red !important;
  } */
