@import "tailwindcss";

.simple-button {
  aspect-ratio: 4.5 / 1;
  min-width: 12rem;
  height: auto;
  background-color: var(--light);
  cursor: pointer;
  transition: all 0.8s;
  letter-spacing: 0.14rem;

  &:hover,
  &:active {
    background-color: var(--main);
  }

  &:hover {
    filter: saturate(130%) brightness(110%);
    @apply shadow-xl text-zinc-50;
  }

  &:active {
    filter: saturate(150%);
    @apply shadow-md text-zinc-100;
  }

  &:disabled,
  &.disabled {
    @apply shadow-md text-zinc-50 bg-zinc-300 cursor-not-allowed opacity-65;
  }
}

.simple-button__loader-cnt {
  position: relative;
  height: 100%;
  aspect-ratio: 3 / 1;
  width: auto;
  overflow: hidden;
  opacity: 0.4;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
