@import "tailwindcss";

.CardFrame__wrapper {
  display: flex;
  flex-grow: 1;
  height: auto;
  @media (min-width: 900px) {
    width: 100%;
  }
  cursor: pointer;

  &.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    cursor: disabled;
  }
}

.CardFrame {
  display: flex;
  flex-grow: 1;
  aspect-ratio: 3 / 2;
  transition: all 1s;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  opacity: 0.8;
  width: 100%;
  padding: 10px;
  text-align: center;
  line-height: 1.15;
  transition: all 0.3s ease;
  filter: brightness(105%);

  @apply shadow-md bg-zinc-400;
  &:hover,
  &.active,
  &.accepted {
    @apply shadow-xl;
  }

  &:hover {
    color: var(--main);
    filter: saturate(120%) brightness(102%);
  }
  &.learn {
    background-color: #f2f2f2;
    filter: saturate(100%) brightness(100%);

    &.selected {
      background-color: #f6f6f6;
      @apply shadow-xl;
    }
    &:hover {
      background-color: #f0f0f0;
      filter: saturate(100%) brightness(100%);
    }
  }
  &.default {
    @apply bg-gray-100/80 hover:bg-violet-200/40;
  }

  &.active {
    background-color: var(--active);
    @apply shadow-sm;
  }

  &.accepted {
    background-color: var(--accepted);
  }

  &.rejected {
    background-color: var(--rejected);
    @apply shadow-md;
  }

  &.coloured {
    background-color: var(--main);
    border: 1px solid var(--light);
    color: var(--light);
    &:hover,
    &:active {
      @apply text-zinc-200;
    }
    &:hover {
      filter: grayscale(15%);
      opacity: 0.9;
    }

    &:active {
      filter: grayscale(30%);
      opacity: 1;
    }
  }

  &.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    cursor: disabled;
    @apply bg-zinc-100;
  }

  & svg {
    mix-blend-mode: multiply;
  }
}
